<h1>Settings</h1>
<div class="settings-container">
	<button><a href="/settings/import">import songs</a></button>
	<button><a href="/settings/library">my library</a></button>
	<h3>//todo remove hardcoded</h3>
	<button><a href="/settings/export/6245506ac31b7cf70f0c1d7c">create playlist - 6245506ac31b7cf70f0c1d7c</a></button>
	<h3>//todo remove hardcoded</h3>
	<button><a href="/settings/export/test">create playlist - test</a></button>
</div>
