section.all-groups {
  // border: 2px solid blueviolet;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  div.groups-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    * {
      text-align: center;
      margin: auto;
    }
    margin-bottom: 2em;
  }
  div.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    // justify-content: space-between;
    .column {
    //   border: 1px solid red;
      flex: 1;
      width: 100%;
      height: 70vh;
      overflow-y:scroll;
      .table {
        // border: 1px solid green;
          max-height: 70vh;
        thead {
          // display: flex;
          // flex-direction: column;
          // justify-content: center;
          tr {
            &:first-of-type() {
              background-color: $dark;
            }
            th,tr,td {
              text-align: center;
            }
          }
          th{
            width: calc(100%/3);
          }
        }
        tbody {
          // border: 2px solid red;
          height: 70vh;

          overflow-y: scroll;
          th,tr,td {
            text-align: center;
          }

        }
        &#myGroups{
          img{
            width: 100%
          }
         
        }
      }

    }
  }
}
